include ../../_mixins.jade
extends ../../_main-layout.jade

block prepend title
  | Static sites/pages

block main
  .o-techdocs-content
    h1 Static sites/pages
    :marked
      These are simple web apps hosted on the [IG web server], and linked to from FT.com.

      They are 'static' in the sense they are simple files served by Apache – but they are often very dynamic on the front end, and may load data from external services such as [Bertha](/resources/bertha/).

      Static sites are often started using our [Starter Kit](/guides/starter-kit/) and typically use some a few [Origami components](/resources/origami/) like o-header and o-footer.

      They should always be [responsive](https://en.wikipedia.org/wiki/Responsive_web_design).

      ## Examples

      ```md
      TO COME
      ```

      ## Making a static site

      There are obviously lots of ways, but the basic process is:

      1. Write some code (perhaps using the [starter kit](starter-kit)).
      2. Upload it to the [IG web server] (NB. the starter kit has a built in task for this).
      3. Do everything in the [publishing checklist][].

      [ig web server]: /resources/ig-web-server/
      [Starter Kit]: /resources/starter-kit/
      [publishing checklist]: /guides/publishing-checklist/
