include ../../_mixins.jade

.o-techdocs-content
  +softwareHeader('atom')

  h2#install-osx Installing on OS X
  :marked
    Using Cask:

    ```sh
    $ brew cask install atom
    ```
    
    Alternatively, go to [atom.io](http://atom.io/) for manual installation.

  h2#install-windows Installing on Windows
  :marked
    Go to [atom.io](http://atom.io/) to download the installer.

  h2#settings Recommended settings
  :marked
    *TKTKTK - suggested list of packages to install?*

  h2#see-also See also
  +softwareCard('sublime-text-3')
  +softwareCard('homebrew')
