include ../../_mixins.jade
extends ../../_main-layout.jade

block prepend title
  | Publishing checklist

block main
  .o-techdocs-content
    h1 Publishing checklist
    :marked
      ```md
      TO COME
      ```
