include ../../_mixins.jade
extends ../../_main-layout.jade

block prepend title
  | Node.js

block main
  .o-techdocs-content
    +softwareHeader('node')
    include:marked content.md
    +related('homebrew')
