include ../../_mixins.jade
extends ../../_main-layout.jade

block prepend title
  | Windows setup guide

block main
  .o-techdocs-content
    h1 Windows setup guide
    p.o-techdocs-leadbody How to prepare your machine for building interactive news apps

    aside
      :marked
        **This guide is largely speculative and untested.**

    h2#checklist Checklist
    +checklist(
      'Install Node.js',
      'Install git',
      'Install a good text editor'
    )

    :marked
      We also recommend installing an alternative console such as [Cmder](http://cmder.net/), plus a good visual GUI for git such as Github Desktop.
    
    h2#software Software

    h3#tools Development tools
    .o-grid-row
      +softwareCard('node')
      +softwareCard('git')
      +softwareCard('github-desktop')
      +softwareCard('sourcetree')

    h3#text-editors Text editors
    p It's OK to install more than one.
    .o-grid-row
      +softwareCard('sublime-text-3')
      +softwareCard('atom')
