include ../../_mixins.jade

.o-techdocs-content
  h1 Windows setup guide

  aside
    :markdown
      **This guide is largely speculative and untested.**

  //- CHECKLIST
  h2#checklist Checklist
  +checklist(
    'Install Node.js',
    'Install git',
    'Install a good text editor'
  )

  p We also recommend installing an alternative console like [ConsoleZ](https://github.com/cbucher/console) (*NEED TO TEST*).
  
  h2#software Software

  h3#tools Development tools
  .o-grid-row
    +cardNode
    +cardGit
    +cardGithubDesktop

  h3#text-editors Text editors
  p It's OK to install more than one.
  .o-grid-row
    +cardST3
    +cardAtom
