include ../../_mixins.jade
extends ../../_main-layout.jade

block prepend title
  | Naming conventions

block main
  .o-techdocs-content
    :marked
      # Naming conventions

      ```md
      TODO
      ```
