include ../../_mixins.jade
extends ../../_main-layout.jade

block prepend title
  | Project lifecycle

block main
  .o-techdocs-content
    h1 Project lifecycle
    :marked
      ```md
      TO COME
        a short explanation of each stage in a project's lifecycle:
          planning/commisioning
          design & development
          publishing
          maintenance/updating
          retiring
      ```
