include ../../_mixins.jade
extends ../../_main-layout.jade

block prepend title
  | Image Service

block main
  .o-techdocs-content
    h1 Image Service
    :marked
      ```md
      TO COME
      ```
