doctype html
html(lang="en")
  head
    title= 'FT ' + siteTitle
    script(src="https://polyfill.webservices.ft.com/v1/polyfill.min.js?features=default")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
    link(rel="stylesheet" href="https://build.origami.ft.com/bundles/css?modules=" + oModules)
    link(rel="stylesheet" href="/main.css")
    link(rel="shortcut icon" href="http://bertha.ig.ft.com/favicon.ico")
  body.o-techdocs
    header.o-header(data-o-component='o-header')
      .o-header__container
        .o-header__inner
          .o-header__primary
            .o-header__primary__left
              a.o-header__logo.o-header__logo--ft(href='/')
                abbr(title='Financial Times') FT
                h1.o-header__title= siteTitle
    .o-techdocs-container
      .o-techdocs-layout
        .o-techdocs-sidebar
          ul.o-techdocs-nav
            li
              span Machine setup guides
              ul.o-techdocs-nav.o-techdocs-nav--sub
                li: a(href='/setup/mac/') Mac OS X
                li: a(href='/setup/windows/') Windows

            li.break-before
              span Software
              ul.o-techdocs-nav.o-techdocs-nav--sub
                each data, name in software
                  li: a(href='/software/' + name + '/')= data.title

            li.break-before
              span Services
              ul.o-techdocs-nav.o-techdocs-nav--sub
                li: a(href='/services/bertha/') Bertha
                li: a(href='/services/github/') Github
                li: a(href='/services/stash/') Stash

            li.break-before
              span Building interactives
              ul.o-techdocs-nav.o-techdocs-nav--sub
                li: a Using the interactive boilerplate
                li: a ...
                li: a ...

            li.break-before
              a(href='/formats/') Publication formats
              ul.o-techdocs-nav.o-techdocs-nav--sub
                li: a(href='/formats/sites/') Static sites/pages
                li: a(href='/formats/wrappers/') Falcon wrapper pages
                li: a(href='/formats/iframes/') IFrames
                li: a(href='/formats/heroku/') Heroku apps

        .o-techdocs-main
          != yield

    footer.o-techdocs-footer
      .o-techdocs-footer__inner
        p.o-techdocs-footer__secondary
          a(href='http://github.com/ft-interactive') FT Interactive on GitHub
        p
          | © THE FINANCIAL TIMES LTD. FT and 'Financial Times' are trademarks of The Financial Times Ltd.

    script.
      // add aria-selected=true where appropriate
      [].slice.apply(document.querySelectorAll('.o-techdocs-nav a')).forEach(function (el) {
        if (el.getAttribute('href') === window.location.pathname) {
          el.closest('li').setAttribute('aria-selected', 'true');
        }
      });

      // make code snippets starting with '$' nicer
      [].slice.apply(document.querySelectorAll('code.language-sh')).forEach(function (el) {
        if (el.innerHTML.substring(0, 2) === '$ ') {
          el.innerHTML = '<span class="terminal-prompt">$ </span>' + el.innerHTML.substring(2);
        }
      });

    script(src="https://build.origami.ft.com/bundles/js?modules=" + oModules)
