doctype html
html(lang="en")
  head
    title= 'FT ' + siteTitle
    script(src="https://polyfill.webservices.ft.com/v1/polyfill.min.js?features=default")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
    link(rel="stylesheet" href="https://build.origami.ft.com/bundles/css?modules=o-techdocs@^4.2.1,o-fonts@^1.8.2,o-grid@^3.2.6")
    link(rel="stylesheet" href="/main.css")
    link(rel="shortcut icon" href="http://bertha.ig.ft.com/favicon.ico")
  body.o-techdocs
    header.o-header(data-o-component='o-header')
      .o-header__container
        .o-header__inner
          .o-header__primary
            .o-header__primary__left
              a.o-header__logo.o-header__logo--ft(href='http://www.ft.com')
                abbr(title='Financial Times') FT
                h1.o-header__title= siteTitle

    .o-techdocs-layout
      .o-techdocs-sidebar
        ul.o-techdocs-nav
          li: a(href='/') Home
          li
            a(href='/formats/') Formats
            ul.o-techdocs-nav.o-techdocs-nav--sub
              li: a(href='/formats/sites/') Static sites/pages
              li: a(href='/formats/wrappers/') Falcon wrapper pages
              li: a(href='/formats/iframes/') IFrames
              li: a(href='/formats/heroku/') Heroku apps

          //- li
          //-   a(href='#') Link title 2
          //- li
          //-   a(href='#') Link title 3
          //- li
          //-   a(href='#') Link title 4
          //-   ul.o-techdocs-nav.o-techdocs-nav--sub
          //-     li
          //-       a(href='#') Sub link 1
          //-     li(aria-selected='true')
          //-       a(href='#') Sub link 2 (selected)
          //-     li
          //-       a(href='#') Sub link 3
          //-     li
          //-       a(href='#') Sub link 4
          //- li
          //-   a(href='#') Link title 5
      
      .o-techdocs-main
        != yield

    footer.o-techdocs-footer
      .o-techdocs-footer__inner
        p.o-techdocs-footer__secondary
          a(href='http://github.com/ft-interactive') FT Interactive on GitHub
        p
          | © THE FINANCIAL TIMES LTD. FT and 'Financial Times' are trademarks of The Financial Times Ltd.

    script(src="https://build.origami.ft.com/bundles/js?modules=o-techdocs@^4.2.1,o-fonts@^1.8.2,o-grid@^3.2.6")
    script.
      // add aria-selected true where appropriate
      [].slice.apply(document.querySelectorAll('.o-techdocs-nav a')).forEach(function (el) {
        console.log('a', el);
        if (el.getAttribute('href') === window.location.pathname) {
          el.closest('li').setAttribute('aria-selected', 'true');
        }
      });
