doctype html
html(lang="en")
  head
    block head
      title
        block title
          = ' – FT ' + siteTitle
      script(src="https://polyfill.webservices.ft.com/v1/polyfill.min.js?features=default")
      link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css")
      link(rel="stylesheet" href="https://build.origami.ft.com/bundles/css?modules=" + oModules)
      link(rel="stylesheet" href="/main.css")
      link(rel="shortcut icon" href="http://bertha.ig.ft.com/favicon.ico")
  body.o-techdocs
    header.o-header(data-o-component='o-header')
      .o-header__container
        .o-header__inner
          .o-header__primary
            .o-header__primary__left
              a.o-header__logo.o-header__logo--ft(href='/')
                abbr(title='Financial Times') FT
                h1.o-header__title= siteTitle

    .o-techdocs-container
      .o-techdocs-layout
        .o-techdocs-sidebar
          ul.o-techdocs-nav
            li
              span Machine setup
              ul.o-techdocs-nav.o-techdocs-nav--sub
                li: a(href='/setup/mac/') Mac OS X
                li: a(href='/setup/windows/') Windows

            li.break-before
              span Guides
              ul.o-techdocs-nav.o-techdocs-nav--sub
                li: a(href='/guides/project-lifecycle/') 🚧 Project lifecycle
                li: a(href='/guides/publishing-checklist/') 🚧 Publishing checklist
                li: a(href='/guides/style-guides/') 🚧 Style guides
                li: a(href='/guides/naming-conventions/') 🚧 Naming conventions
                li: a(href='/guides/git-workflow/') 🚧 Git workflow
                li: a(href='/guides/linting/') Linting
                li: a(href='/guides/analytics/') 🚧 Analytics
                li: a(href='/guides/project-starter-kit/') Project Starter Kit

            li.break-before
              span Resources
              ul.o-techdocs-nav.o-techdocs-nav--sub
                li: a(href='/resources/ig-web-server/') 🚧 IG web server
                li: a(href='/resources/bertha/') 🚧 Bertha
                li: a(href='/resources/github/') 🚧 Github
                li: a(href='/resources/stash/') 🚧 Stash
                li: a(href='/resources/origami/') 🚧 Origami
                li: a(href='/resources/image-service/') 🚧 Image service
                li: a(href='/resources/polyfill-service/') 🚧 Polyfill service

            li.break-before
              a(href='/formats/') Publication formats
              ul.o-techdocs-nav.o-techdocs-nav--sub
                li: a(href='/formats/static-sites/') 🚧 Static sites/pages
                li: a(href='/formats/wrappers/') Falcon wrapper pages
                li: a(href='/formats/iframes/') 🚧 iframes
                li: a(href='/formats/heroku/') 🚧 Heroku apps

            li.break-before
              span Software
              ul.o-techdocs-nav.o-techdocs-nav--sub
                each data, name in software
                  li: a(href='/software/' + name + '/')= data.title

        .o-techdocs-main
          block main

    footer.o-techdocs-footer
      .o-techdocs-footer__inner
        p.o-techdocs-footer__secondary
          a(href='http://github.com/ft-interactive') FT Interactive on GitHub
        p
          | © THE FINANCIAL TIMES LTD. FT and 'Financial Times' are trademarks of The Financial Times Ltd.

    script.
      // add aria-selected=true where appropriate
      [].slice.apply(document.querySelectorAll('.o-techdocs-nav a')).forEach(function (el) {
        if (el.getAttribute('href') === window.location.pathname) {
          el.closest('li').setAttribute('aria-selected', 'true');
        }
      });

      // make CLI snippets (any code blocks marked "sh") nicer using techdocs classes
      [].slice.apply(document.querySelectorAll('code.language-sh,code.lang-sh')).forEach(function (codeEl) {
        codeEl.innerHTML = codeEl.innerHTML.split('\n').map(function (line) {
          if (!line) return line;
          return line.substring(0, 2) === '$ ' ?
            '<kbd>' + line.substring(2) + '</kbd>' :
            '<output>' + line + '</output>';
        }).join('\n').trim();
        codeEl.className = 'nohighlight';
        codeEl.parentNode.className = 'cli';
      });

    script(src="https://build.origami.ft.com/bundles/js?modules=" + oModules)
