mixin softwareHeader(name)
  - var d = software[name]
  .o-grid-row
    div(data-o-grid-colspan='center 11 Muncenter M8 L6 XL6')
      h1= d.title
      p.o-techdocs-leadbody
        if d.description
          = d.description

    div.badge(data-o-grid-colspan='center 6 M4 L3 Lpush1 XL2')
      if d.image
        img(src='https://image.webservices.ft.com/v1/images/raw/' + encodeURIComponent(d.image) + '?source=interactive-dev-guide&width=250&height=250&fit=contain')
      if d.link
        br
        a(href=d.link)= d.linkText


mixin softwareCard(name)
  - var d = software[name]
  div(data-o-grid-colspan='12 M10 L4')
    a.o-techdocs-card(href='/software/' + name + '/')
      .o-techdocs-card__context
        if d.image
          img.o-techdocs-card__icon(src='https://image.webservices.ft.com/v1/images/raw/' + encodeURIComponent(d.image) + '?source=interactive-dev-guide&width=30&height=30&fit=contain')
        .o-techdocs-card__heading
          .o-techdocs-card__title= d.title
          //- .o-techdocs-card__subtitle 
      .o-techdocs-card__content= d.description


mixin checklist(...items)
  ul.checklist
    each val in items
      li: label
        input(type='checkbox')
        | &nbsp;
        = val
