include _mixins.jade
extends _main-layout.jade

block main
  .o-techdocs-content
    h1 Interactive Dev Guide
    p.o-techdocs-leadbody The Interactive News team's guides to coding, designing and visualising.

    p This site documents the workflow, techniques, software and resources we use to build things and get them online.
