include _mixins.jade
extends _main-layout.jade

block title
  | FT Interactive Dev Guide

block main
  .o-techdocs-content
    h1 Interactive Dev Guide
    p.o-techdocs-leadbody The Interactive News team's guides to coding, designing and visualising.

    p This site documents the workflow, techniques, software and resources we use to build things and get them online.

    :marked
      ## Incomplete pages
      
      The 🚧 symbol means a page is incomplete. Contributions welcome.

      ## Code

      The code for this website itself is in [on GitHub](https://github.com/ft-interactive/ft-interactive.github.io).

      If you spot a mistake, please open an issue there – or fix it and do a pull request!
