include ../../_mixins.jade
extends ../../_main-layout.jade

block prepend title
  | Mac OS X setup guide

block main
  .o-techdocs-content
    h1 Mac OS X setup guide
    p.o-techdocs-leadbody How to prepare your machine for building interactive news apps

    h2#checklist Checklist
    +checklist(
      'Upgrade to the latest version of OS X if possible',
      'Install iTerm 2 (or another good terminal emulator)',
      'Install Homebrew',
      'Install Node.js, (preferably via `n` or `nvm`)',
      'Install git',
      'Install a good text editor'
    )

    p We also recommend installing a good visual git GUI such as Github Desktop.

    h2#bonus 🎱 Bonus steps

    :marked
      It's probably a good idea to do some work on your dotfiles to make them nicer.

      Option 1 (for the adventurous): go for a git-managed dotfiles setup such as [this](https://github.com/paulirish/dotfiles).

      Option 2 (minimal): just make your command prompt a bit more helpful – add this [.bash_prompt](https://github.com/paulirish/dotfiles/blob/master/.bash_prompt) file to your home directory.

    h2#software Software installation guides

    h3#tools Development tools
    .o-grid-row
      +softwareCard('homebrew')
      +softwareCard('node')
      +softwareCard('git')
      +softwareCard('github-desktop')
      +softwareCard('sourcetree')
      +softwareCard('iterm-2')

    h3#text-editors Text editors
    p It's OK to install more than one.
    .o-grid-row
      +softwareCard('sublime-text-3')
      +softwareCard('atom')
