include ../../_mixins.jade

.o-techdocs-content
  h1 Mac OS X setup guide
  //- p.o-techdocs-leadbody This page is a guide to setting up a Mac OS X computer for development.

  //- CHECKLIST
  h2#checklist Checklist
  +checklist(
    'Upgrade to the latest version of OS X if possible',
    'Install Homebrew',
    'Install Node.js',
    'Install git',
    'Install a good text editor'
  )

  p We also recommend installing iTerm 2, and a visual git GUI such as Github Desktop.

  p You can find guides for installing specific software below.
  
  hr

  h2#software Software

  h3#tools Development tools
  .o-grid-row
    +cardBrew
    +cardNode
    +cardGit
    +cardGithubDesktop
    +cardITerm2

  h3#text-editors Text editors
  p It's OK to install more than one.
  .o-grid-row
    +cardST3
    +cardAtom
