include ../../_mixins.jade
extends ../../_main-layout.jade

block prepend title
  | iframes

block main
  .o-techdocs-content
    h1 iframes
    :marked
      ```md
      TO COME
        - what we use iframes for, with links to live examples
          - embedded interactives in stories
          - widgets (series promo, audio widgets)
        - self-resizing iframes
          - limitations: cross-domain; jumpy load experience
      ```
