include ../../_mixins.jade
extends ../../_main-layout.jade

block prepend title
  | Github Desktop

block main
  .o-techdocs-content
    +softwareHeader('github-desktop')
    include:marked content.md
    +related('sourcetree', 'homebrew')
