include ../../_mixins.jade
extends ../../_main-layout.jade

block prepend title
  | iTerm 2

block main
  .o-techdocs-content
    +softwareHeader('iterm-2')
    include:marked content.md
    +related('homebrew')
