include ../../_mixins.jade
extends ../../_main-layout.jade

block prepend title
  | IG web server

block main
  .o-techdocs-content
    h1 IG web server
    :marked
      ```md
      TO COME
        - URLs
        - SSH
        - how it's organised
        etc
      ```
