include ../../_mixins.jade
extends ../../_main-layout.jade

block prepend title
  | IG web server

block main
  .o-techdocs-content
    h1 IG web server
    :marked
      The web server at **ig.ft.com** is an Apache server exclusively for the Interactive team.

      It's where we host the majority of our team's published projects, mostly as simple folders containing HTML files and assets.

      ```md
      TO COME
        - how it's organised
        - URLs
        - SSH
        - troubleshooting permissions problems
        - the www.ft.com/ig/ proxy
        etc

      do we need to avoid revealing absolute directory paths? or is this info safe to reveal publicly?
      ```
