include ../../_mixins.jade
extends ../../_main-layout.jade

block prepend title
  | Git

block main
  .o-techdocs-content
    +softwareHeader('git')
    include:marked content.md
    +related('github-desktop', 'sourcetree')
