include ../../_mixins.jade
extends ../../_main-layout.jade

block prepend title
  | SourceTree

block main
  .o-techdocs-content
    +softwareHeader('sourcetree')
    include:marked content.md
    +related('github-desktop', 'homebrew')
