include ../../_mixins.jade

.o-techdocs-content
  +softwareHeader('sublime-text-3')

  aside: p ST3 is not free software, but it can be used for free indefinitely (if you don't mind it nagging you occasionally). It's currently in beta, but it's stable enough.

  :marked
    ## Installing

    Using Cask:

    ```sh
    $ brew cask install sublime-text3
    ```

    Alternatively, go to [sublimetext.com/3](http://www.sublimetext.com/3) and download it.
    
    ## Get the `subl` command

    *TKTKTK*
    
    ## Install some packages

    ST3 has 'packages' that add extra functionality (such as syntax highlighting for languages that aren't supported out of the box). You should install Package Control, which in turn will help you install packages.

    1. [Install Package Control](https://packagecontrol.io/installation).
    2. Now [use](https://packagecontrol.io/docs/usage) it to install whatever packages you need.

    #### Recommended packages

    - [Emmet](https://packagecontrol.io/packages/Emmet)
    - [Sass](https://packagecontrol.io/packages/Sass)
    - *TKTKTK*

  h2#see-also See also
  +softwareCard('atom')
  +softwareCard('homebrew')
