include ../../_mixins.jade
extends ../../_main-layout.jade

block prepend title
  | Sublime Text 3

block main
  .o-techdocs-content
    +softwareHeader('sublime-text-3')
    include:marked content.md
    +related('atom', 'homebrew')
