include ../_mixins.jade

.o-techdocs-content
  h1 Publication formats
  p.o-techdocs-leadbody We have a few ways of getting things on the web.
  
  .o-grid-row
    +card(
      '/formats/sites',
      'Static sites/pages',
      'Standalone, responsive web apps hosted on the IG server.'
    )
  
    //- spacer hack - because I can't work out how to widen the gutter between o-grid elements
    div(data-o-grid-colspan='hide M1')

    +card(
      '/formats/iframes',
      'IFrames',
      'Rarely used now, but content can be embedded in an iframe inside an FT.com article.'
    )

    +card(
      '/formats/wrappers',
      'Falcon wrapper pages',
      'Wrappers are FT.com template pages that we can inject our content into.'
    )
    
    //- another spacer hack
    div(data-o-grid-colspan='hide M1')

    +card(
      '/formats/heroku',
      'Heroku apps',
      'For projects that have a significant serverside element.'
    )
