include ../_mixins.jade
extends ../_main-layout.jade

block prepend title
  | Publication formats

block main
  .o-techdocs-content
    h1 Publication formats
    p.o-techdocs-leadbody We have a few ways of getting things on the web.
    
    .o-grid-row
      +card({
        link: '/formats/sites',
        heading: 'Static sites/pages',
        content: 'Standalone, responsive web apps hosted on the IG server.'
      })
      +card({
        link: '/formats/iframes',
        heading: 'iframes',
        content: 'Rarely used now, but content can be embedded in an iframe inside an FT.com article.'
      })
      +card({
        link: '/formats/wrappers',
        heading: 'Falcon wrapper pages',
        content: 'Wrappers are FT.com template pages that we can inject our content into.'
      })
      +card({
        link: '/formats/heroku',
        heading: 'Heroku apps',
        content: 'For projects that have a significant serverside element.'
      })
