include ../../_mixins.jade
extends ../../_main-layout.jade

block prepend title
  | Project Starter Kit

block main
  .o-techdocs-content
    h1 Project Starter Kit
    p.o-techdocs-leadbody A bunch of files to kick-start a new FT Interactive project.

    include:marked content.md
